.abouthero-bg{
    background-image: url("../../../assets/abouthero.jpg");
    background-size: cover;
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed ;
}